.content-easement-unpublished-message {
  color: #880017;

  min-height: 19px;
  line-height: 19px;

  border-style: solid;
  border-color: #ff006e;
  border-width: 1px;

  background-color: #fff4f4;
  background-image: url(message-unpublished.png);
  background-repeat: no-repeat;
  background-position: 8px 6px;

  padding: 10px 10px 10px 48px;
}
